@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.todo {
  padding: 50px;
}

.todo__title {
  font-size: 32px;
}
